/*
* 	 Carousel  Theme 
*	v1.24
*/

.tnm-theme .tnm-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.tnm-theme .tnm-controls .tnm-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.tnm-theme .tnm-controls.clickable .tnm-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.tnm-theme .tnm-controls .tnm-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.tnm-theme .tnm-controls .tnm-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.tnm-theme .tnm-controls .tnm-page.active span,
.tnm-theme .tnm-controls.clickable .tnm-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.tnm-theme .tnm-controls .tnm-page span.tnm-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.tnm-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}