@charset "utf-8";
@import "http://fonts.googleapis.com/css?family=Dosis:200,600";

html { -webkit-font-smoothing: antialiased; }

@keyframes shake{ 
    0% { transform: translate(3px, 0); }
    50% { transform: translate(-3px, 0); }
    100% { transform: translate(0, 0); }
}
 
@-moz-keyframes shake{ 
    0% { -moz-transform: translate(3px, 0); }
    50% { -moz-transform: translate(-3px, 0); }
    100% { -moz-transform: translate(0, 0); }
}
 
@-webkit-keyframes shake {
    0% { -webkit-transform: translate(3px, 0); }
    50% { -webkit-transform: translate(-3px, 0); }
    100% { -webkit-transform: translate(0, 0); }
}
 
#wrapper{
  min-height:500px;}

.shake {
    animation-name: shake; 
    animation-duration: 150ms; 
    animation-iteration-count: 2; 
    animation-timing-function: linear;
 
    -moz-animation-name: shake; 
    -moz-animation-duration: 150ms; 
    -moz-animation-iteration-count: 2; 
    -moz-animation-timing-function: linear;
 
    -webkit-animation-name: shake;
    -webkit-animation-duration: 150ms;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}



article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
body {
    margin: 0;}
li{
		list-style:none !important;}
a {
    color: #18808D;
    text-decoration: none; }
a:focus {
    outline: thin dotted; }
a:hover, a:active {
	cursor:pointer;
    outline: 0 none; 
	color: #104259;
}

abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}
p, pre {
    margin: 0 0 10px;
}
pre, code, kbd, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    font-size: 75%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
dl, menu, ol, ul {
    margin: 1em 0;
}
dd {
    margin: 0 0 0 40px;
}
menu, ol, ul {
    padding: 0 0 0 40px;
}
nav ul, nav ol {
    list-style: none outside none;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {

}
legend {
    border: 0 none;
    padding: 0;
    white-space: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    box-shadow: none;
    padding: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.warning  {
    color:#A94442
}

.success  {
    color:#3C763D;
}

#loginError, #loginSuccess , #error, #success {
	text-align:center;
	padding:5px 0;
}

.padding-bottom-10 {
	padding-bottom:10px;
}

.emptyMessage td {
	padding:50px 0;
}

.unstyled li {
    list-style:none;
}

body {
    background:#fff;
	 font-family: 'Source Sans Pro',Arial, Helvetica, sans-serif ;
	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro',Arial, Helvetica, sans-serif ;
    font-weight:bold;
}

.btn-primary {
   background-color: #399F8D;
    border-color: #379B89;
    color: #FFFFFF;
}

.btn-primary:hover {
	background-color: #328F7F;
    color: #FFFFFF;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #328F7F;
    border-color: #328F7F;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}


#header .navbar-inner {
    padding:0;
}
#header {
    width:100%;
    height:auto;
    display:block;
    z-index:110;
    background: url(../images/headerbg.png) top repeat-x;
}


#header.stuck .menuBar {
    opacity:0;
}

#header:hover .menuBar {
    filter: none;
    opacity: 1;
    transition: opacity 0.1s ease-out 0s;
    -webkit-transition: opacity 0.1s ease-out 0s;
    -moz-transition: opacity 0.1s ease-out 0s;
    -ms-transition: opacity 0.1s ease-out 0s;
    -o-transition: opacity 0.1s ease-out 0s;
}

#header.stuck .headertop {
    height:0;
    transition: all 0.1s ease-out 0s;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    overflow:hidden;
}
#header .navbar-default  {
    background:none;
}
#header:hover .headertop {

}

.headertop {
    background: none repeat scroll 0 0 #18808d;
    color: #FFFFFF;
    font-size: 0.75em;
    font-weight: 400;
    width:100%;
    height: 38px;
    line-height: 38px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.1s ease-out 0s;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
	display:none;
}

.headerMenu {
    clear: both;
    font-weight: 400;
    height:auto;
    width:100%;
}

.headerBar {
    background: #0D3D53;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    clear: both;
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: 400;
    height: 58px;
    line-height: 58px;
}

.headerBar.navbar-inverse .container ul li {
    display: block;
    height: 58px;
}

.headerBar.navbar-inverse .container ul li ul {
    margin-left:0;
    padding-left:0;
    margin-top:0;
    padding-top:0;
}
.headerBar.navbar-inverse .container ul li ul li {
    height:auto;
    border-bottom: 1px solid #EBEBEB;
    font-weight: 700;
    list-style-type: none;
    text-align: center;
    line-height: 26px;

}

.headerBar.navbar-inverse .container ul li ul li:last-child {
    border:none;
}

.headerBar.navbar-inverse .container ul li ul li a {
    color: #000000;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-align:left;
    padding:2px 13px;
    display:block;
}
.ulList {
    margin-left:0 !important;
}
.ulList li {
    display:block;
    clear:both;
    color:#666;
}



.headerBar.navbar-inverse .container ul li a {
    color: #FFFFFF;
    padding: 19px 15px;
	cursor:pointer;
}

@media (min-width: 1200px) {
	.headerBar.navbar-inverse .container ul li a {

    	  padding: 19px 30px;

	}

.logBtnFirst {
    margin-left: 30px;
}
}



.headerBar .nav.navbar-nav {
	float:right;
}

#header .navbar-default{
    border:none;
    box-shadow:none;
}

.navbar .btn-navbarx {
    position: relative;
    z-index: 99999;
}

.headerMenu .navbar {
    margin-bottom:0;
}

.headerMenu .navbar-inner {
    border:0;
    border-radius:0;
    box-shadow: none;
}

.nav1 {
    margin-top:10px;
    display:block;
}
.searchBar {
    margin-top:10px;
}

/*

.searchBar .searchField {
    border: 0 none;
    border-radius: 20px 0 0 20px;
    float: left;
    height: 35px;
    margin: 0 !important;
    padding: 0 10px;
}
*/

.searchBar .searchField {
    border: 0 none;
    border-radius: 20px;
    float: left;
    height: 35px;
    margin: 0 !important;
    padding: 0 35px 0 10px;
    font-family:Helvetica Neue, Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 16px;
}

@media (min-width: 979px) {
	.searchBar .searchField  {
		min-width:380px;
	}
	
}
@media (max-width: 767px) {
	.searchBar .searchField  {
		border:solid 1px #eee;
		
		
	}
	
	#appendedInputButton.searchField {
		width:100%;
	}
	
}
/*

.searchBar .searchBtn {
    border-radius: 0 20px 20px 0 !important;
    float: left;
    height: 35px;
	background:#f2f2f2;
}



.searchBar .searchBtn {
    background: none repeat scroll 0 0 #0A364A;
    border-radius: 50% !important;
    color: #FFFFFF;
    float: left;
    height: 30px;
    line-height: 18px;
    margin-left: -33px;
    margin-top: 2px;
    text-align: center;
    width: 30px;
}

.searchBar .searchBtn i {
	 transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	 -o-transition: all 0.5s ease 0s;
}


.searchBar .searchBtn:hover i {
		transform: scale(1.15);
	-webkit-transform: scale(1.1) ;
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1) ;
	-o-transform: scale(1.1) ;
}

*/

.searchBar .searchBtn {
    background: url("../images/search-btn.png") no-repeat scroll center center #0A364A;
    border-radius: 50% !important;
    color: #FFFFFF;
    float: left;
    height: 30px;
    line-height: 18px;
    margin-left: -33px;
    margin-top: 2px;
    text-align: center;
    width: 30px;
  transition: all 0.5s ease 0s;
 -moz-transition: all 0.5s ease 0s;
 -webkit-transition: all 0.5s ease 0s;
 -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.searchBar .searchBtn:hover{
     background: url("../images/search-btn.png") no-repeat scroll center center #3faf9a;}




.nav1 li a {
    color: #FFFFFF;
    display: block;
    padding: 0 14px;
    position: relative;
    text-decoration: none;
}
.nav1 ul li a i {
    font-size:20px;
    color: #FFFFFF;
}



.dropdown-menu {
    border-radius:0;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 8px 25px rgba(0, 0, 0, 0.2);
    border:0 ;
    margin-top:0 !important;
    border-top: solid 4px #3DAA96;
}

.menuBar {
    background:#FFFFFF;
    border-bottom: 1px solid #EBEBEB;
    filter: none;
    font-size: 0.9em;
    height: 50px;
    opacity: 1;
    transition: opacity 0.25s linear 0s;
    -webkit-transition:opacity 0.25s linear 0s;
    -moz-transition: opacity 0.25s linear 0s;
    -ms-transition: opacity 0.25s linear 0s;
    -o-transition: opacity 0.25s linear 0s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.w100 {
    width:100%;
}

.w100-inline {
    width:100%;
    display: inline-block;
}

/*

.menuBar .container ul li a {
    color: #333333 ;
    display: block;
    font-weight: 700;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
}
*/

.menuBar .container ul li a {
    color: #333333;
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.menuBar .container .dropdown-menu .megamenu-content ul li a {
 	background: url("../images/arrow_item.gif") no-repeat scroll left 10px rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding: 4px 0 4px 10px;
    text-decoration: none;
	text-transform: inherit;
text-transform: capitalize;
}



.menuBar .container ul li.active a, .menuBar .container ul.nav li a:hover {

}


/* //sub menu */
.megamenu-content li a {
    color: #666666 !important;
    font-weight: normal !important;
    text-align: left;
}


.menuBar .container ul .megamenu-content li a:hover {
		color:#3DAA96 !important;
}
@media (min-width: 979px) {

    ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
        display: block;
        filter: none;
        opacity: 1;
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, ul.navbar-nav li:hover a.dropdown-toggle {
    background-color: #3DAA96 ;
    color: #fff;
}


.hr-nav {
    background:url(../images/hr-nav.png) right center no-repeat ;
font-family: Helvetica Neue,Helvetica,Arial,"Lucida Grande",sans-serif;
}

.userNav {
    height:100%;
    margin-top:0 !important;
    height:58px;
}

.userNav .nav {
    height:100%;
}
.userNav .nav > li {
    height:58px;
    line-height:56px;
}


.navbar-inverse .brand, .navbar-inverse .userNav li a {
    color:#ddd ;
    padding:6px 15px !important;
    display:block;
}

.navbar-brand img {
    max-height: 45px;
}

.navbar-brand {
    margin-bottom: 0 !important;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.logBtnFirst {
    margin-left:15px;
}

.logBtn {
    cursor:pointer;
    font-family:Helvetica Neue, Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 14px;
}
.searhLi {
    padding:0 15px;
}
.cartA {
    min-width:;
}

.myList {
    background:url(../images/mylist.png) no-repeat left center;
    padding-left:30px !important;
    margin-left:15px;
    font-family:Helvetica Neue, Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 14px;
    margin-left: 15px;
}

.myCart {
    background:url(../images/cart.png) no-repeat left center;
    padding-left:30px!important;
    margin-left:15px;
}


.hover:hover {
    background:#3DAA96; 
}

.cartA:hover {
    background: #0a364a
}

.noMarginLeft {
    margin-left:0;
    padding-left:10px !important;
}

#contentNav a {
    font-size: 12px;
    line-height: 38px;
    display:inline-block;
    color:#fff;
    padding:0 14px;
}

.btn-bj {
    height: auto;
    line-height: 28px;
    margin-top: 12px;
    padding: 8px 25px !important;
    line-height:normal !important;
}

.btn-log {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #399f8d;
    -moz-box-shadow: 0 1px 0 #2c7f6f;
    -webkit-box-shadow: 0 1px 0 #2c7f6f;
    box-shadow: 0 1px 0 #2c7f6f;
    background-image: -moz-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: -o-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: -webkit-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
}

.ModalLoginBtn {
	-moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #399f8d;
    -moz-box-shadow: 0 1px 0 #2c7f6f;
    -webkit-box-shadow: 0 1px 0 #2c7f6f;
    background-image: -moz-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: -o-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: -webkit-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
	color:#fff;
}

.btn-signup {
    -moz-border-radius:  0 4px 4px 0 ;
    -webkit-border-radius: 0 4px 4px 0 ;
    border-radius: 0 4px 4px 0 ;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f0f0f0;
    -moz-box-shadow: 0 1px 0 #b4b3b3;
    -webkit-box-shadow: 0 1px 0 #b4b3b3;
    box-shadow: 0 1px 0 #b4b3b3;
    background-image: -moz-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: -o-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: -webkit-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
}

.ModalSignupBtn {
    -moz-border-radius:   4px 4px ;
    -webkit-border-radius: 4px 4px ;
    border-radius: 4px 4px ;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: -o-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: -webkit-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
	color:#000;
}

div#loginDiv .btn-log {
	color:#fff;
}

div#loginDiv .btn-log, div#signupDiv .btn-signup   {
	-moz-border-radius:   4px 4px ;
    -webkit-border-radius: 4px 4px ;
    border-radius: 4px 4px ;
}

/*:::::::::::::::::::::::::::: Banner ::::::::::::::::::::::::::::::*/

.banner {
    height:440px;
    background:#f4f2f2;
    width:100%;
    margin-top: 60px;
	overflow:hidden;
    padding-top: 40px;
    position:relative;
    box-shadow:0 0 12px rgba(0, 0, 0, 0.2) inset;

}

.banner .container {
    position:relative;
    height:  auto;
}

.banner img {
    max-width:100%;
    max-height: 380px;
}


.banner .item  {
    width:100%;
    display:block;
}

.banner .item h2 {
    font-family:Dosis,Arial;
}

.xbold {
    font-weight: 300;
    font-size:52px;
}

.btn-more {
    color:#fff;
    padding:20px;
    -moz-border-radius: 4px ;
    -webkit-border-radius: 4px;
    border-radius: 4px ;
    background-color: #399f8d;
    -moz-box-shadow: 0 1px 0 #2c7f6f;
    -webkit-box-shadow: 0 1px 0 #2c7f6f;
    box-shadow: 0 1px 0 #2c7f6f;
    background-image: -moz-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: -o-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: -webkit-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
}

.btn-more:hover {
    color:#fff;
    background-image: -moz-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: -o-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: -webkit-linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    background-image: linear-gradient(bottom, #399f8d 0%, #41b59f 99.46%, #41b59f 100%);
    text-decoration:none;
}

.btn-more:hover {
    color:#fff;
}


.banner .item .rowx {
    display: block;
    -webkit-transform: translateX(-120px);
    -moz-transform: translateX(-120px);
    -o-transform: translateX(-120px);
    -ms-transform: translateX(-120px);
    transform: translateX(-120px);
    -webkit-transition: opacity .1s linear,-webkit-transform .7s cubic-bezier(.56,.48,0,.99);
    -moz-transition: opacity .1s linear,-moz-transform .7s cubic-bezier(.56,.48,0,.99);
    -o-transition: opacity .1s linear,-o-transform .7s cubic-bezier(.56,.48,0,.99);
    -ms-transition: opacity .1s linear,-ms-transform .7s cubic-bezier(.56,.48,0,.99);
    transition: opacity .1s linear,transform .7s cubic-bezier(.56,.48,0,.99);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
    z-index: 2;
}

.banner .item.cycle-slide-active .rowx{
    z-index: 3;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;

}

#pager {
    bottom: -43px;
    margin: 0;
    max-width: 1009px;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}

#pager a {
    color: #555;
    display: block;
    float: left;
    font-family: Dosis,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 600;
    list-style: none outside none;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    width: 33%;
    border-top:2px solid #e3e2e2;

}
#pager a.cycle-pager-active {
    color:#333;
    border-top:2px solid #3DAA96;
}

/* ::::::::::::::::::::::::::: Container :::::::::::::::::::::::::::::*/

.mainContainer {
    margin-top: 120px;
    padding-bottom:15px;
}

.home .mainContainer {
    margin-top: 0 !important;
}


/* :::::::::::::::::::::::::::: boxes ::::::::::::::::::::::::::::::::::*/
.boxes {
    display:block;
    width:100%;
    padding-top:30px;

}
.boxes .box {
    display:block;
    height:200px;
    border-radius:3px;
}

.box1 {
    background:#104259;
}

.box2 {
    background:#faa21b;
}

.box3 {
    background:#e64b4b;
}

.padd {
    padding:0 0 20px;
}


/* ::::::::::::::: product ::::::::::::::::::::*/
.section-title {
    clear: both;
    display: block;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}


.section-title h2 {
    font-family:Dosis,Arial,Helvetica,sans-serif;
    font-size:24px;
}

.section-title h2:before {
    border-top: 4px solid #EBEBEB;
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    width: 100%;
    z-index: 10;
}
.section-title h2 span {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #104259;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 11;
}

.productBox {
    display:block;
    padding-right: 10px;
    position:relative;
    height:100%;
    height: 315px;
    overflow:hidden;
}

.productBox a.proImg {
	display:block;
	min-height: 125px;
	margin-bottom:5px;
}

.product {
    display:block;
    margin-bottom:30px;
}

.carousel .product {
    display:block;
    margin-bottom:10px !important;
    padding:0 15px;
}

.product h4 {
    margin: 0;
    max-height: 77px;
    overflow: hidden;
    text-transform: capitalize;
}

.description {
    margin: 0 4px 0 5px;
    min-height:90px;
    max-height:120px;
    overflow:hidden;
    font-size:16px;
}
.productBox .description {
 line-height: 18px;
}

.productDetails .description {
	max-height:500px;
}


.product h4 a {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
	text-transform: capitalize;
}

.product .description .size {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}


.product .price {
    bottom: 45px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0;
    margin-bottom:10px;
}

.current-price {
	color:#D94742;
}

.product .old-price {
    color: #666666;
    font-size: 13px;
    font-weight: normal;
    margin-left: 2px;
    text-decoration: line-through;
}

.priceglobal {
    font-size: 22px;
    line-height: 18px;
	font-weight:bold;
	 white-space: nowrap;
}
.priceglobal .current-price {
	    white-space: pre;
    word-wrap: normal;
	color:#D94742 !important;
 white-space: nowrap;
}
.priceglobal .save {
	font-size: 18px;
}
.priceglobal .old-price {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    margin-left: 2px;
    text-decoration: line-through;
}

.save-price {
    background: #D94742;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 13px;
    padding: 3px 10px;
    position: absolute;
    text-align: center;
    top: 0;
}

.priceglobal .save-price {
    background: none repeat scroll 0 0 #D94742;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 2px;
    position: relative;
    text-align: center;
    top: 0;
    white-space: pre;
    word-wrap: normal;
	display:inline-block;
}

.productFeatured .product {
    background: url(../images/hr.png) right no-repeat !important;
}

.productFeatured .tnm-item:nth-of-type(6n+6) .product, .productFeatured .tnm-item:last-child .product  {
    background:none !important;
}

.categoryProduct .tnm-item:nth-of-type(4n+4) .product, .productFeatured .tnm-item:last-child .product {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}



.btncart {
    position: relative;
    background-color: #faa21b;
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#faa21b),color-stop(1,#e68c00));
    background-image: -webkit-linear-gradient(top,#faa21b 0,#e68c00 100%);
    background-image: -moz-linear-gradient(top,#faa21b 0,#e68c00 100%);
    background-image: -o-linear-gradient(top,#faa21b 0,#e68c00 100%);
    background-image: -ms-linear-gradient(top,#faa21b 0,#e68c00 100%);
    background-image: linear-gradient(top,#faa21b 0,#e68c00 100%);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: 0 solid transparent;
    border-bottom: 1px solid #c88012;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow:hidden;
    display: inline-block;
    width: 140px;
    height:33px;
    font-size:14px;
    color: #fff;
    font-family: Dosis, Helvetica Neue, Arial,Helvetica,sans-serif ;
    line-height: 32px;
    text-decoration:none;
}

.btncart:hover {
    position: relative;
    background-color: #faa21b;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#faa21b),color-stop(1,#d98401));
    background-image: -webkit-linear-gradient(top,#faa21b 0,#d98401 100%);
    background-image: -moz-linear-gradient(top,#faa21b 0,#d98401 100%);
    background-image: -o-linear-gradient(top,#faa21b 0,#d98401 100%);
    background-image: -ms-linear-gradient(top,#faa21b 0,#d98401 100%);
    background-image: linear-gradient(top,#faa21b 0,#d98401 100%);
    color:#fff;
    text-decoration:none;
    position:relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btncart:active {
    box-shadow: 0 2px 2px rgba(28, 2, 5, 0.2) inset;
    margin-top:2px;
}
.btncart:active .text {
    padding: 9px 8px 7px;
}

span.add2cart {
    display: block;
    font-weight: 600;
    height: 33px;
    left: 32px;
    padding-left: 15px;
    position: absolute;
    text-align: left;
}




span.counter {
    background: url("../images/cart.png") no-repeat scroll 7px center rgba(0, 0, 0, 0);
    display: block;
    height: 33px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 37px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition:all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;

}

.btncart.active .counter {
    background: url("../images/cart.png") no-repeat  7px -37px rgba(0, 0, 0, 0);
    box-shadow: -2px 0 12px rgba(0, 0, 0, 0.4) inset;
}


.btncart.active {
    background-color: #ffb94f;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffb94f),color-stop(1,#d98401));
    background-image: -webkit-linear-gradient(top,#ffb94f 0,#d98401 100%);
    background-image: -moz-linear-gradient(top,#ffb94f 0,#d98401 100%);
    background-image: -o-linear-gradient(top,#ffb94f 0,#d98401 100%);
    background-image: -ms-linear-gradient(top,#ffb94f 0,#d98401 100%);
    background-image: linear-gradient(top,#ffb94f 0,#d98401 100%);

}

.counter span {
    height: 33px;
    width: 37px;
    display: block;
    left:0;
    position:absolute;
    bottom: -37px;
	opacity:0;
    transition: all 0.5s ease-out 0s;
    -webkit-transition:  all 0.5s ease-out 0s;
    -moz-transition:  all 0.5s ease-out 0s;
    -ms-transition:  all 0.5s ease-out 0s;
    -o-transition:  all 0.5s ease-out 0s;

}


.btncart.active .counter span{
    bottom:0;
    opacity:1;
    display:block;
    position: relative;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:600;		
}



/* ::::::::::::::: brand ::::::::::::::::::::*/

.section-title p {
}

.section-title span {
    background:#fff;
    padding:0 10px;
    position:relative;
    z-index:11;
}
.section-title p:before {
    border-top: 1px solid #EBEBEB;
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 10;
}


/*::::::::::::::::::::::: Category ::::::::::::::::::::::*/


.categoryProduct .product:nth-child(4n+5) {
    margin-left:0 !important;
}
.categoryProduct .product {
    margin-bottom:30px;
}

.FeaturedImage {
    width:100%;
    margin-bottom:30px;


}

.FeaturedImage img {
   	 max-width:100%;
	width:100%;
  	border-radius: 3px;
}

.categoryName {
    color: #666666;
    font-family: Dosis,arial;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;

}
.catList {
	padding-left:0;
}
.catList li {
    margin-bottom:7px;
}

.catList li a {
  	background: url("../images/arrow_item.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: block;
    font-size: 1em;
    font-weight: 400;
    padding: 6px 5px 6px 10px;
    text-decoration: none;
}
.active_category a {
    color: #3FAF9A;
    font-size: 15px !important;
    font-weight: bold !important;
}
.productFeatured  {
    display:inline-block;
    height:auto;
    width:100%;
    clear:both;
}
.categoryContainer {
	min-height:300px;
	padding-top: 15px;
}
.categoryContainer .productFeatured {
    margin-bottom:0;
}

.section-title a.see-all {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #104259;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding: 6px 20px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    z-index: 12;
}

.thumbs a {
    border: 2px solid #DDDDDD;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}

.productImageZoom {
    position:relative;
}

.thumbs {
    left: 0;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 80px !important;
    z-index: 100;
}

.thumbs a {
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}

.thumbs a.activethm{
    border: 1px solid #F9A11A;
}

.thumbs a img {
    width:60px;
}
.magnifyarea {
    border-radius: 4px;
}

.productDetails .description h2 {
    max-width:500px;
}

.productDetails .price {
    color: #444444;
    font-size: 34px;
    font-weight: 700;
    margin-bottom:10px;
    display:block;
}

.productDetails .size {
    color: #888888;
    font-size: 18px;
    font-weight: 300;
}


.productDetails .old-price {
    color: #999999;
    font-size: 24px;
    margin-left: 2px;
    text-decoration: line-through;
}

.productDetails .save {
    background: none repeat scroll 0 0 #D94742;
    border-radius: 3px;
    color: #FFFFFF;
	font-size: 16px;
    padding: 3px 10px;
	 font-weight: normal;
    text-align: center;
	display: inline-block;
}



.productDetails .description {
    margin-bottom:40px;
}

.productDetails p {
    color: #444444;
    display: block;
    max-width: 460px;
    position: relative;
    transition: max-height 0.5s ease-out 0s;
}
.productDetails .cartControll {
    display:block;
    padding:15px 0;
}

.productDetails .btncart {
    float:left;
}

.cartControllInner {
    background:#eee;
    border-radius:6px;
    display:inline-block;
    padding:10px;
    height:53px;
}

.btnwishlist {
    position: relative;
    background-color: #faa21b;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#faa21b),color-stop(1,#e68c00));
    background-image: -webkit-linear-gradient(top,#faa21b 0,#e68c00 100%);
    background-image: -moz-linear-gradient(top,#faa21b 0,#e68c00 100%);
    background-image: -o-linear-gradient(top,#faa21b 0,#e68c00 100%);
    background-image: -ms-linear-gradient(top,#faa21b 0,#e68c00 100%);
    background-image: linear-gradient(top,#faa21b 0,#e68c00 100%);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: 0 solid transparent;
    border-bottom: 1px solid #c88012;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow:hidden;

    display: inline-block;
    width: 140px;
    height:33px;
    font-size:14px;
    color: #fff;
    font-family: Dosis, Helvetica Neue, Arial,Helvetica,sans-serif ;
    line-height: 32px;
    text-decoration:none;
}

.btnwishlist {
    position: relative;
    background-color: #42b7a1;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#42b7a1),color-stop(1,#399f8c));
    background-image: -webkit-linear-gradient(top,#42b7a1 0,#399f8c 100%);
    background-image: -moz-linear-gradient(top,#42b7a1 0,#399f8c 100%);
    background-image: -o-linear-gradient(top,#42b7a1 0,#399f8c 100%);
    background-image: -ms-linear-gradient(top,#42b7a1 0,#399f8c 100%);
    background-image: linear-gradient(top,#42b7a1 0,#399f8c 100%);
    border-color:#2e927f;
    color:#fff;
    text-decoration:none;
    position:relative;
    margin-left: 10px;
    width:150px;
}

.btnwishlist:hover {
    position: relative;
    background-color: #2a907d;	
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#42b7a1),color-stop(1,#2a907d));
    background-image: -webkit-linear-gradient(top,#42b7a1 0,#2a907d 100%);
    background-image: -moz-linear-gradient(top,#42b7a1 0,#2a907d 100%);
    background-image: -o-linear-gradient(top,#42b7a1 0,#2a907d 100%);
    background-image: -ms-linear-gradient(top,#42b7a1 0,#2a907d 100%);
    background-image: linear-gradient(top,#42b7a1 0,#2a907d 100%);
    color:#fff;
    text-decoration:none;
    position:relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btncart.active .counter {
    background: url("../images/cart.png") no-repeat  7px -37px rgba(0, 0, 0, 0);
    box-shadow: -2px 0 12px rgba(0, 0, 0, 0.4) inset;
}

.btnwishlist:active {
    box-shadow: 0 2px 2px rgba(28, 2, 5, 0.2) inset;
    margin-top:2px;
}
.btnwishlist:active .text {
    padding: 9px 8px 7px;
}


.btnwishlist span.counter {
    background: url("../images/list-sprite.png") no-repeat scroll 7px -1px rgba(0, 0, 0, 0);
}


.btnwishlist.active span.counter {
    background: url("../images/list-sprite.png") no-repeat scroll 7px -30px rgba(0, 0, 0, 0);
}



/* ::::::::::::::::::: Product Details ::::::::::::::::::::::::::*/

.breadcrumbDiv {
    width:100%;
    clear:both;
}

.breadcrumb > .active {

 color: #03404D;
    font-weight: 600;


}

/* ::::::::::::::::::: Modal ::::::::::::::::::::::*/


.button-bj {
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    width: 40%;
    border: solid 2px #3DAA96;
    background:#fff;

}

.button-bj:hover {
    border: solid 2px #3DAA96;
    background:#3DAA96;
    color:#fff;

}

.modal-title {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    text-transform: inherit;
}

.modal  {
    background: rgba(10, 46, 62,0.95);
}

.modal form {
    width:90%;
    margin:0 auto 20px;
}
.modal-header {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
    min-height: 16.4286px;
    padding: 15px;
}
.modal .control-group { 
    text-align:center;
}

/*.modal .control-group input {
    width:90%; 
    padding: 10px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom:10px;

}*/
.modal .control-group input {
    background-color: #FFFFFF;
    border: 0 solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #737373;
    font-family: Helvetica Neue, Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-size: 15px;
    margin-bottom: 10px;
    padding: 15px;
    width: 90%;
}
.modal .control-group input:focus {
    border-color:#3EAD98;
}
.modal fieldset { box-shadow: none; border:0; padding:0}

.modal-content {
    background: none repeat scroll 0 0 #E8E8E8 !important;
    border: 0 none;
    border-radius: 0;
}

 #myModalLabel {
    font-family: Helvetica Neue, Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: normal;
    text-align: center;
}

.userForm {
    border-radius: 4px;
    padding: 30px 15px;
}

.buttonGloabalFull {
    border-width: 0;
    color: #FFFFFF;
    display: block;
	font-family:Helvetica Neue, Helvetica, Arial, "Lucida Grande", sans-serif; 
    margin: 0 auto;
    background:#3DAA96;
    padding: 15px 10px;
    width: 90%;

}


.buttonGloabalFull:hover {
    background:#379e8b;
}

.buttonGloabalFull.active {
    background: #379E8B;
    box-shadow: 1px 3px 13px rgba(0,0,0,0.2) inset;
   -webkit-box-shadow: 1px 3px 13px rgba(0,0,0,0.2) inset;
}

.fb_button {
    background: none repeat scroll 0 0 #658AD0;
    border-width: 2px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
    text-decoration:none;
}


.fb_button:hover {
    background:#4E6FAE;
    color:#fff;
    text-decoration:none;

}

.btn-signup {
    color:#333 !important;
    text-shadow:none;
}

.media-dark .media {
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
}

.box-media .media a.pull-right {
    margin-left: -45px;
}

.box-media .media {
    background-color: #FAFAFA;
    border: 1px solid #F6F6F6;
    color: #939393;
    padding: 10px;
}

.media, .media-body {
    overflow: hidden;
}

.media-heading {
    margin: 0 0 5px;
}

.box-media .media p {
    margin-right: 30px;
}


/* ::::::::::::::::::::::: footer :::::::::::::::::::::: */

.footer {
	background: #0D3D53;
    width:100%;
    height: auto;
    margin-top:30px;
    padding-bottom:30px;
    position:relative;
	color:#ddd;
}


.footer p {
    margin:0;
	color:#ddd;
}

.footer img {
    max-width:100%;
}

.footer h3 {
	font-family:Dosis,Arial,Helvetica,sans-serif;
	text-transform:uppercase;
    border-bottom: 2px solid #ccc;
    padding:40px 0 15px;
    font-size: 18px;
    color:#fff;
    line-height: 27px;
}


.footer ul {
    list-style-type: none;
    margin-left: 0;
    font-size: 14px;
    padding-left:0;
}
.footer ul li a {
	display: block;
    padding-bottom: 5px;
}

.footer a {
    color: #ddd;
}

.newsLatterBox input#appendedInputButton  {
    padding:0 8px;
    width: 79%;
    height:30px;
    background:#fff;
    display: inline-block;
    border:  none;
    float:left;
    border-radius:0;
    padding:3px;

}
.newsLatterBox .btn  {
    padding:0;
    width:20%;
    height:30px;
    display: inline-block;
    border: none;
    border-radius:0;
    background:#f0f0f0;
}


.newsLatterBox {
    border:solid 1px #bbb;
    border-radius:3px;
    overflow:hidden;
}

.bg-gray {

    -moz-box-shadow: 0 1px 0 #b4b3b3;
    -webkit-box-shadow: 0 1px 0 #b4b3b3;
    box-shadow: 0 1px 0 #b4b3b3;
    background-image: -moz-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: -o-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: -webkit-linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
    background-image: linear-gradient(bottom, #bbb 0%, #f0f0f0 100%);
}


.social li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #B5B5B5;
    border-radius: 18px;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
}

.social li:hover {             
    border: 2px solid #6AC6AF;
    animation: 300ms ease 0s normal none 1 moveFromBottom;
}

.social li a i {
    font-size: 16px;
    margin: 8px 0 0 5px;
}

.footer-bottom {
    padding-top:10px;
    background:#05354B;
}

.footer-bottom p {
	color:#ddd;
}

/* ::::::::::: Site :::::::::::::::::::::::*/

.btn-site  {
    /* padding: 8px 20px;*/
    background-color: #399F8D;
    border-color: #379b89;
    color: #FFFFFF;
}

.btn-site:hover {
    background-color:#328f7f;
    color:#fff;
}

.trbar tr {
    border-bottom: solid 1px #ddd;
}

.trbar tr td {
    padding:5px 0;
}

.actions {
}

.make-default {
    visibility:hidden;

}

.trbar tr:hover .make-default {
    visibility: visible;


}

/* :::::::::::::::: MOdal :::::::::::::::::::::: */


.modal-dialog-80 {
    min-width:50%;
}
.cartProduct.lastChild {
    border-bottom: none !important;
}

.modal-dialog-80 .modal-content {
    border:0;

}

.modal-dialog-80 #myModalLabel {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    text-transform: inherit;
}

.emptyMessage #myModalLabel {
    font-size: 18px;
    font-weight: normal;
}

.modal-dialog-80 .cartImg {
    text-align:center;
}

modal-body-cart {

}

.modal-body-cart {
    max-height: 345px;
    overflow-y: scroll;
    background:#fff;

}

#ModalCart .modal-footer {
margin-top:0;
}

.innerPadd{
	margin-top:70px;
    padding-top: 40px;
	padding-bottom:10px;
}

.innerPadd30{
    padding: 30px 0;
}

.

/*---------------------------- C O N D I T I O N ----------------------------------*/

.termsContent{
	width:100%;
	height:auto;
	display:block;
	position:relative;}


 .termsContent h1{
	color:#3daa96;
    font-size: 42px;
	margin-bottom:20px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2em;
    text-transform: none;}

.termsContent h4 {
    color: #3D3D3D;
    letter-spacing: 0.35px;
    padding: 15px 0 0;
}

.termsContent p {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 22px;
}
/*----------------------------- F A Q ------------------------*/
.faqContent h4{
	padding:5px 0;
	}
.faqContent a:hover{
		text-decoration:none;}

.panel-bajaree{
	 background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow:none;
	}
.panel-default-bajaree{

	border-color:#fff;}
.panel-heading-bajaree{
    background-color: #F2F2F2;
    border-color: #FFFFFF;
    color: #333333;
}

/*----------------------------- A B O U T ------------------------*/
.about_banner{
		width:100%;
		height:320px;
		background:url(../images/about.jpg) fixed;
  		-moz-background-size: cover;
		-webkit-background-size: cover;
  		-o-background-size: cover;
		background-size: cover;
		padding:100px 0 0;}

.about_banner p {
    background: url("../images/about-title-bg.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 5px;
    text-align: center;
}
.about_cntImg{
		width:100%;
		height:auto;
		display:block;
		overflow:hidden;}
.about_cntImg img{
		margin:20px 0 0 0;}
.about_content {
    border-left: 5px solid #E0E0E0;
    height: auto;
    margin: 30px 0 0;
    padding: 10px 20px 40px;
}

.about_content h4{
		color:#222;}
.about_content p{
	color: #666666;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 22px;}
.searchFilter {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D3D3D3;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
}
.searchFilter p,.searchFilter label{
		font-size:14px;
		color:#666;}
.searchFilter select {
    border: 1px solid #DDDDDD;
    border-radius: 0;
    box-shadow: none;
    color: #666666;
    font-size: 14px;
    height: auto;
    padding: 5px;
}

.searchPagination {
    border-top: 2px solid #DDDDDD;
    height: 50px;
    width: 100%;
}
.searchPagination ul {
    margin: 10px 0 0;
}
.searchPagination ul li{}
.searchPagination ul li a {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 0 none;
    border-radius: 2px !important;
    color: #3fb19b;
    font-size: 16px;
    margin: 0 2px;
    padding: 3px 10px;
}
.accountName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

/*-------------------------- N E W -----------------------------*/
.categoryTitle {
    display: block;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
	margin-bottom:25px;
}
.categoryTitle h2{
		display: inline;
    font-size: 52px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
	margin-left:25%;
	text-transform:capitalize;
	color:#3faf9a;
    text-align: center;}
.categorySort {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    padding: 0 0 0 10px;
    position: relative;
    width: auto;
    z-index: 10;
}
.sorting {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    box-sizing: border-box;
    color: #AAAAAA;
    float: right;
    font-size: 14px;
    font-weight: 300;
    height: 34px;
    padding: 7px 0 6px 10px;
    position: relative;
    text-align: left;
    text-transform: none;
    width: 200px;
    z-index: 100;
}
.sorting:after {
    border-color: #888888 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 4px 4px 0;
    content: "";
    height: 0;
    margin-top: -2px;
    position: absolute;
    right: 9px;
    top: 50%;
    width: 0;
    z-index: 8;
}
.sorting select {
    -moz-appearance: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    bottom: 0;
    box-sizing: border-box;
    color: #888888;
    cursor: pointer;
    font-size: 14px;
    left:-7px;
    margin: 0;
    min-width: 200px;
    outline: 0 none;
    padding: 6px 4px 6px 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 9;
}

.old_price{
	color: #666666;
    font-size:16px;
    font-weight: 300;
    margin-left: 2px;
    text-decoration: line-through;
	}
.categoryImg{
		display:block;
		position:relative;}
.discount {
    background: none repeat scroll 0 0 #3FAF9A;
    border-radius: 3px;
    bottom: 0;
    color: #FFFFFF;
    display: inline;
    font-size: 0.9em;
    font-weight: 700;
    left: 0;
    padding: 3px 6px;
    position: absolute;
    right: auto;
    text-align: center;
    text-transform: uppercase;
}
.categoryBanner{
		width:100%;
		height:auto;
		background:#3daa96;}

.categoryBanner h2{
		margin-bottom:0;}
/*---------------------- A C C O U N T------------------------*/

.accountMenu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 6px;
     padding: 10px 20px 40px;
}
.reviewHeadingBig {
    border-bottom: 2px solid #CCCCCC;
    letter-spacing: 2.25px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.accountContent {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    display: block;
    height: auto;
    overflow: hidden;
    padding: 25px;
    width: 100%;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
		  background-color: #2a3744;
    color: #FFFFFF;}
.order-table tr td{
		vertical-align:middle !important;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td:first-child{
		border:none !important;}
.accountContent h3 {
    border-bottom: 1px solid #D3D3D3;
    color: #2A3744;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.25px;
    margin-top: 0;
    padding-bottom: 5px;
}
.datepickerInput {
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    color: #666666;
    padding: 7px 12px;
}

/*---------------------- O R D E R ----------------------*/
.orderheading{
		border-top:5px solid #3ead98 !important;}

.order-panel ul{
		padding:0;}


.mainContainer.contactPage {
    margin-top: 80px !important;
    padding-bottom: 80px !important;
}


@media (min-width: 1200px) and (max-width: 1360px) {
    .container {
       max-width:1070px;
    }
} 

@media (min-width: 1361px) {
    .container {
       max-width:1170px;
    }

	.banner {
   	 height: 480px;
	}
}    




@media (max-width: 1200px) {
    span.add2cart {
        padding-left: 8px;
    }
    span.counter {
        width: 32px;
    }
    .btncart {
        font-size:14px;
    }
    .btncart {
        width: 130px;
    }
}
@media (min-width: 980px) {

	.categoryProduct .product:nth-of-type(4n+4) {
	background:none !important;
	}


}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) and (max-width: 979px) {
   .categoryProduct .product:nth-of-type(3n+3) {
	background:none !important;
	}
}


@media (max-width: 979px) {
	


	.banner {
		height: 340px !important;
	}
	
	.innerPadd {
    margin-top: 120px;
	}

    .colSlim {
        padding:0 !important;
    }

    .colSlim ul {
        padding:0;
    }


    .megamenu .dropdown.megamenu-80width .dropdown-menu {
        width:100% !important;
    }



    #pager {
        bottom: -58px;}

    .banner {
        margin-top:150px;
        height: 460px;
    }

    #header.stuck .menuBar {
        opacity:1 !important;
    }

    .show-ipod {
        display:block !important;
    }

    #header {
        position:relative;
    }
    .navbar-inner {
        border-radius: 0;
    }

    .headerBar {
        height:auto;
    }
    .navbar .btn-navbar {
        margin-bottom: -45px;
    }

    .menuBar {
        height:auto;
    }


    .navbar .navbar-inner {
        background: #000 !important;
    }

    .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus, .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
        background: inherit;
    }
	
	.section-title h2 a span {
		}
	
	
	.section-title a.see-all {
		top: 0;
	}
.logBtnFirst, .myCart {
 margin-left: 10px;
}

.headerBar.navbar-inverse .container ul li a {
    padding: 19px 10px;
font-size: 12px;
}

.searhLi {
    padding: 0;
}

}

@media (min-width: 401px) and (max-width: 767px) {

	.categoryProduct .product:nth-of-type(2n+2) {
	background:none !important;
	}
}


@media (max-width: 767px) {

	.banner {
 
    margin-top: 120px;
}

	.about_banner {
    padding: 200px 0 0;
}

	
	
	.megamenu-content {
		padding:0 !important;
	}
	

    .colSlim ul {
        padding-left:15px;
        margin-left:15px;
    }


    .catList {
        padding-left:0 !important;
    }
    .catList li.categoryName {
        display:block;
        border:none !important;
    }

    .catList li {
        border-right: 1px solid #DDDDDD;
        margin-bottom: 7px;
        margin-right: 10px;
        display:inline-block;
        padding-right: 10px;
    }

    .headerBar.navbar-inverse .container ul li {
        float:left;
    }
    .show-ipod {
    }

    .checkoutBar {

        height: 15px !important;
    }

    .checkPoint {
        height: 60px !important;
        margin: -24px auto 0!important;
        width: 60px!important;
    }

    .checkPointName {
        border-radius: 6px!important;
        display: inline;
        font-size: 11px;
        margin-top: 6px!important;
        padding: 1px 3px!important;
    }

    .checkPoint span img {
        margin-top: 5px!important;
        width: 50px!important;
    }

    .navbar-inner {
    }

    .carousel .product {
        width:100% !important;
        text-align:center;
    }
	
	.productBox {
		text-align:center;
	}

	.zoomtracker {
		display:none !important;
	}
	
	.menuBar .container ul li a {
    color: #333333;
    font-size: 12px;
	}
	
	.navbar-nav > li > a {
		line-height: 18px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	
	
.headerBar.navbar-inverse .container ul li:nth-child(3) {
	background: none;
}

	
}


@media (max-width: 580px) {
    .xs3Response .product {
        width:50% !important;
    }

    .carousel .product {
        width:90% !important;
    }
	
	.container {
	}
	
.section-title a.see-all {
	display:none;
}

.section-title h2 {
    font-size: 20px;
    padding-top: 5px;

}

.banner {
    height: auto !important;
    padding-bottom: 30px;
}

#pager {
	display:none!important;
}

.categoryTitle h2 {
    font-size: 40px;
    margin: 0;

}
}

@media (max-width: 470px) {
	.productFeatured .product {
	background: none !important;
}

	.productBox{
			height:auto;}
    .checkPointName {
        display: block !important;
        width: 100%;
    }
	
	.about_banner p {
    font-size: 18px;
	}

	.sorting{
			float:left;}

	
	
}

@media (max-width: 400px) {
	.categoryProduct .product {
	background:none !important;
	}

	.xsResponse .product, .xs3Response .product {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
    width: 100% !important;
	}
	
	.btncart {
    font-size: 12px  !important;
	}
	
	.btncart {
    width: 120px !important;
	}
	
	.btnwishlist {
    font-size: 12px!important;
    width: 120px!important;
	}
	
	.cartControllInner {
    height: 44px!important;
    padding: 5px!important;
	}
	
		.termsContent h1{
			font-size:24px;}
			


.navbar-inverse .brand, .navbar-inverse .userNav li a {
	padding: 6px 5px !important;
}

.navbar-brand img {
    margin-top: 10px;
    max-height: 40px;
}


}


@media (max-width: 360px) {
	.categorySort {
    float: none;
    margin-left: 16%;
    margin-top: 10px;
}
.about_banner p {
    font-size: 16px;
}
.about_banner {
    padding: 230px 0 0;
}
.contact_logo{
	display:none;}

}



.noborder {
	border:0 !important;
}

.paymentHeading h2 {
    color: #18808D;
    margin: 15px 0 30px;
    padding: 0 5px;
    text-align: left;
    text-transform: capitalize;
}

.box .box-content.highlight {
    background-color: #F9F9F9;
    margin: 0 -20px -20px;
    padding: 10px 20px 20px;
}

.box {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(71, 73, 72, 0.25);
    margin-bottom: 20px;
    padding: 0 20px 20px;
}


.box  h3 {
    color: #474948;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 0;
 }
 
hgroup.title {
    background-color: #FFFFFF;
    margin: 0 -20px;
    padding: 20px;
}


hgroup.title h5{
    color: #939694;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}




.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}


.modal-footer {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 13px;
    padding: 10px 20px;
}

.breadcrumbDiv {
 	background: #F5F5F5;
}

.breadcrumb {
    background-color: #F5F5F5;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 8px 15px;
}

/* zoom Off */

.magnifyarea, .zoomtracker  {
 visibility: hidden !important;
  display: none !important;
}


/* fixed footer */


.bottom-nav {
    background: #3ca895;
    bottom: 0;
    height: auto;
    left: 0;
    position: fixed;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    z-index: 99999;
	height:32px;
	font-family:Helvetica Neue, Helvetica, Arial, "Lucida Grande", sans-serif; 
}


.bottom-nav.stickyF {
    bottom: -32px;
}

.fclose {
	position:absolute;
	right:0;
	top:0;
	background:rgba(0,0,0,0.3);
	color:#fff;
	border-radius:0;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	z-index:10;
}
.fclose i { 
transform:rotate(0deg);
transition: all 0.3s ease-out 0s; }
.isclose .fclose {
	top:-32px;
}

.isclose .fclose i {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}


.fclose:hover {
	background:rgba(0,0,0,0.4);
	color:#ddd;
}


.footerSticky p {
    margin: 0;
    padding: 0;
}

.deliveryText {
color: #FFFFFF;
display: block;
float: none;
font-size: 12px;
letter-spacing: 0.25px;
margin-left: 0;
padding: 7px 0 7px 5px;
}

span.car {
  	background: #49c5af;
    display: inline-block;
    float: right;
    height: 32px;
	float:right;
    padding: 6px 10px;
	
}

span.carBefore {
    display: inline-block;
    float: right;
    height: 32px;
    padding: 6px 0 6px 10px;
    color:#fff;
    margin-left:0;
	
}

.relative {
	position:relative;
}

.abs-car {
	height: 32px;
	transition: all 0.3s ease-out 0s;
	position:absolute;
	left:0;
	min-width:90px;
	
}

.fleft   {
	width:78% !important;
}

.fright {
	width:22% !important;
	padding-left:0;
}


 @media (max-width: 1024px) {
	 
.container.footerSticky {
	width:100% !important;
}

}

 @media (max-width: 767px) {
	 
.bottom-nav {
	display:none !important;
}


}


/*---------------------- Search Filter----------------------*/
.productFilter {
    border-bottom: medium solid #40B19C;
    display: block;
    height: auto;
    margin: 0 0 30px;
    padding-bottom: 10px;
    padding-top: 0;
    width: 100%;
}

	.productFilter h3 {
    margin: 5px 0 0;
}

.productFilter h3 span {
	font-size:13px;
	color:#A3A3A3;
	font-weight:normal;
}

.productShow {
    display: inline-block;
    margin: 0;
}
.sortBy span {
    display: inline-block;
    font-weight: 600;
    padding: 7px 0 0 135px;
    text-align: right;
}
.productFilter h3 span.searchFor {
	font-size:24px !important;
	color:#A3A3A3;
	font-weight:bold;
}


@media (max-width: 767px) {
.sortBy span {
    padding: 7px 0 0 0;}
 .footer h3{
   font-size:14px;}
 .footerNavbar ul li a{
  line-height:24px;}
 .footer{
   padding-top:10px;}
 .btmPhone{
   float:left;}
 
 .newsLatterSubscribe ul li{
   padding-right:0;}

.productFilter{
 height:85px;}
}


@media (max-width: 1000px) and (min-width: 768px)  {
.banner {
    margin-top: 108px !important;
}
}





/*----------------------------new---------------------------*/
 .footer-banner{
  width:100%;
  height:auto;
  background:#f0f0ee;}
.footer h3 {
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family: Dosis,Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding: 0 0 12px;
    text-transform: uppercase;
}
.footer {
    background: none repeat scroll 0 0 #0D3D53;
    border-bottom: 1px solid #114D69;
    color: #DDDDDD;
    height: auto;
    margin-top: 0;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}
.footer a {
    color: #DDDDDD;
}
.footer p {
    color: #DDDDDD;
    margin: 0;
}
.footerNavbar {
    border-bottom: 1px solid #114D69;
    height: auto;
    margin-bottom: 15px !important;
    padding: 13px 0;
}
.footerNavbar ul{
  margin:5px 0 0 0;}
.footerNavbar ul li a{
  color:#fff;
  font-size:14px;
  font-weight:bold;}
.footer-bottom {
    background: none repeat scroll 0 0 #0d3d53;
    padding: 10px 0;
 caption-side:color: #9C9FA3;
}
.btmPhone{
  display:inline-block;
  float:right;
  margin:0;}
.newsLatterSubscribe .list-inline li a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 20px;
    height: 45px;
    padding: 12px 14px;
    text-align: center;
    width: 45px;
}
.newsLatterSubscribe .list-inline li a:hover {
  border: 1px solid #fff;}

.footer-bottom p {
    color: #DDDDDD;
    margin: 0;
}
#wrapper{
  min-height:500px;}
.signUpcontainerBg{
  min-height:590px;
  background:url(../images/bajaree-signup-3.png) bottom center no-repeat;}

.signUpcontainer h3{
  color:#0d3d53;
  font-weight:normal;
  padding:30px 0;
  font-size:30px;}

.signupReason{
  padding: 5px 0 5px 110px;
  margin-bottom:20px;}
.NewuserForm{
  background:url(../images/loginLeftbg.png) no-repeat left center;}
 .NewuserFormBox{
   padding-left:15px;}
.NewuserForm input {
    background: none repeat scroll 0 0 #F0F0EE;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #A2A2A2;
    font-size: 14px;
    height: 46px;
    padding: 15px;
    width: 75%;
}

.NewuserForm input:focus{
  box-shadow: none;}

.NewuserForm button {
    background: none repeat scroll 0 0 #40B29B;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #FFFFFF;
    padding: 10px 20px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  max-width: 100%;
  border: 0;
  }

.lonInLink{
  display:block;
  padding-top:20px;}

 @media (max-width: 767px) {  
	.signUpcontainerBg{
	  min-height:720px;
	}
	
	.NewuserFormBox {
		width:100%;
	}
	
	.NewuserForm input {
		width:100%;
	}
	.NewuserForm {
		background:none;
	}
}

@media (max-width: 360px) {
	
   .footer h3 {
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 7px;
	}
	.footer ul li a {
	display: block;
	padding-bottom: 0;
	}
	
}
.footerNavbar {
    border-bottom: 1px solid #114D69;
    height: auto;
    margin-bottom: 15px !important;
    padding: 13px 0;
}
.footerNavbar ul{
  margin:5px 0 0 0;}
.footerNavbar ul li a{
  color:#fff;
  font-size:14px;
  font-weight:bold;}
.footer-bottom {
    background: none repeat scroll 0 0 #0d3d53;
    padding: 10px 0;
 caption-side:color: #9C9FA3;
}
.btmPhone{
  display:inline-block;
  float:right;
  margin:0;}
.newsLatterSubscribe .list-inline li a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 20px;
    height: 45px;
    padding: 12px 14px;
    text-align: center;
    width: 45px;
}
.newsLatterSubscribe .list-inline li a:hover {
  border: 1px solid #fff;}

.footer-bottom p {
    color: #DDDDDD;
    margin: 0;
}
#wrapper{
  min-height:500px;}
.signUpcontainer{
  min-height:590px;
  background:url(../images/bajaree-signup-3.png) bottom center no-repeat;}
.signUpcontainer h3{
  color:#0d3d53;
  font-weight:normal;
  padding:30px 0;
  font-size:30px;}

.signupReason{
  padding: 5px 0 5px 110px;
  margin-bottom:20px;}
.NewuserForm{
  background:url(../images/loginLeftbg.png) no-repeat left center;}
 .NewuserFormBox{
   padding-left:15px;}
.NewuserForm input {
    background: none repeat scroll 0 0 #F0F0EE;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    font-size: 14px;
    height: 46px;
    padding: 15px;
    width: 75%;
}

.NewuserForm input:focus{
  box-shadow: none;}

.NewuserForm button {
    background: none repeat scroll 0 0 #40B29B;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #FFFFFF;
    padding: 10px 20px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  max-width: 100%;
  border: 0;
  }

.lonInLink{
  display:block;
  padding-top:20px;}



@media (max-width:640px) {
  .rslides img {
   width:100%;
  }
  }
  
@media (max-width: 360px) {
	
   .footer h3 {
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 7px;
	}
	.footer ul li a {
	display: block;
	padding-bottom: 0;
	}
	
}


/* new For Fix */

.mainContainer .container:first-child {
	
}
.mainContainer .breadcrumbDiv .container:first-child {
	
}

.termsContent  {
	min-height:460px;
}


